// -----------------------------------------------------------------------------
// Default theme
// -----------------------------------------------------------------------------
$theme-colors: (
   "primary":#e72727,
    "dark":#111111,
    "light":#f1f5f5,
    "orange": #F36E2B
);
$enable-rounded :false;

$enable-negative-margins: true

